{% extends "base.html" %}
{% load static %}
{% block 'title' %}single{% endblock 'title' %}
{% block 'content' %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Gallery Single</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
              <a href="contact.html" class="cta-btn">Available for Hire<br></a>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Gallery Single</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Gallery Details Section -->
    <section id="gallery-details" class="gallery-details section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src={{item.image1.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{item.image2.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{item.image2.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{item.image2.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{item.image2.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{item.image2.url}} alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>{{item.title}}</h2>
              <p>
                {{item.content}}
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src={{item.agent.image}} class="testimonial-img" alt="">
                  <h3>{{item.agent.name}}</h3>
                  <h4>{{item.agent.ability}}r</h4>
                </div>
              </div>

              <p>
                {{item.desc}}
              </p>

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> {{item.category.title}}</li>
                <li><strong>Client</strong> {{item.client}}</li>
                <li><strong>Project date</strong> {{item.project_date}}</li>
                <li><strong>Project URL</strong> <a href="#">{{item.url}}</a></li>
                <li><a href={{item.url}} class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Gallery Details Section -->

  </main>

  {% endblock 'content' %}